<h3>Estadísticas de Quiz</h3>
</br>
<ul>
  <li>Número de preguntas: <%= estadisticas.preguntas %></li>
  <li>Número de comentarios totales:  <%= estadisticas.comentarios %></li>
  <li>Número medio de comentarios por pregunta: <%= estadisticas.media_comentarios_pregunta %></li>
  <li>Número de preguntas sin comentarios: <%= estadisticas.preguntas_sin_comentarios %> </li>
  <li>Número de preguntas con comentarios: <%= estadisticas.preguntas_con_comentarios %></li>
</ul>
